/*--- HEADER -------------------------------------------------*/
.satus-header>.satus-section--align-start {
	max-width: calc(100% - 136px);
}

.satus-header .satus-span--title {
	font-weight: 500;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	flex: 1;
}

.satus-header .satus-span--version {
	font: 700 10px sans-serif;
	margin: 0 0 0 4px;
	opacity: .6;
}

.satus-base[title-version=false] .satus-span--version {
	display:none;
}

.satus-popup--vertical-menu .satus-button svg {
	stroke: var(--satus-primary);
}

.satus-popup--vertical-menu .satus-button .satus-span {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}