/*--- HOME -----------------------------------------------------
# Buttons
--------------------------------------------------------------*/

/*--- BUTTONS ------------------------------------------------*/
.satus-section--home {
	.satus-button {
		display: flex;
		flex-direction: column;

		width: calc(100% / 3);
		height: unset;
		margin: 8px 0 0;
		padding: 8px 0;
	}
	.satus-button:focus,
	.satus-button:hover {
		background: transparent;
	}
	.satus-button> :nth-child(1) {
		display: flex;

		width: 60px;
		height: 60px;
		margin: 0 0 8px;
		padding: 16px;

		transition: background 500ms 250ms, transform 500ms, box-shadow 525ms;

		color: var(--satus-bubble-foreground);
		border-radius: 50%;
		background: var(--satus-bubble-background);
		box-shadow: var(--satus-bubble-shadow-raised);

		align-items: center;
		justify-content: center;
	}
	.satus-button:hover> :nth-child(1) {
		transition: background 250ms 125ms, transform 250ms, box-shadow 275ms, color 400ms;
		transform: translateY(4px) scale(.975);
		color: rgba(255, 255, 255, 1);

		box-shadow: var(--satus-bubble-shadow-unelevated);
	}
	.satus-button> :nth-child(2) {
		overflow: hidden;

		width: 100%;
		padding: 0 8px;

		text-align: center;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.satus-button--general,
	.satus-button--appearance,
	.satus-button--player {
		margin-left: 9px !important;
		margin-right: -18px !important;
		max-width: 272px !important;
	}
	.satus-button--player svg {
		left: 2px;
	}
	svg {
		position: relative;
		top: 1px;
	}
}

.satus-base {
	&:not([it_layout=list]) .satus-section--home {
		.satus-button--subscriptions,
		.satus-button--channel,
		.satus-button--shortcuts,
		.satus-button--playlist,
		.satus-button--themes {
			transform: scale(0.91);
		}
		.satus-button--blocklist,
		.satus-button--analyzer {
			transform: scale(0.78);
		}
	}
	&[it_layout=list] {
		.satus-section--home {
			.satus-button--subscriptions,
			.satus-button--channel,
			.satus-button--shortcuts,
			.satus-button--playlist,
			.satus-button--themes {
				transform: scale(0.92);
				margin-bottom: -17px !important;
				margin-left: 3px !important;
				max-width: 197px !important;
				margin-top: 2px !important;
			}
			.satus-button--blocklist,
			.satus-button--analyzer {
				transform: scale(0.75);
				margin-left: 165px !important;
				max-width: 141px !important;
				margin-top: -72px !important;
			}
			.satus-button--analyzer {
				margin-top: -16px !important;
			}
		}
		.satus-section--card {
			.satus-button--general,
			.satus-button--player,
			.satus-button--appearance,
			.satus-button--subscriptions,
			.satus-button--channel,
			.satus-button--shortcuts,
			.satus-button--playlist,
			.satus-button--themes,
			.satus-button--blocklist,
			.satus-button--analyzer {
				> span:first-child {
					display: block;
					height: 20px;
					width: 20px;
					color: var(--satus-primary);
					margin: 0 14px 0 0;
				}
			}
		}
	}
	&[it_general] .satus-section--home .satus-button--general,
	&[it_player] .satus-section--home .satus-button--player,
	&[it_appearance] .satus-section--home .satus-button--appearance,
	&[it_subscriptions] .satus-section--home .satus-button--subscriptions,
	&[it_channel] .satus-section--home .satus-button--channel,
	&[it_shortcuts] .satus-section--home .satus-button--shortcuts,
	&[it_playlist] .satus-section--home .satus-button--playlist,
	&[it_themes] .satus-section--home .satus-button--themes,
	&[it_blocklist] .satus-section--home .satus-button--blocklist,
	&[it_analyzer] .satus-section--home .satus-button--analyzer {
		display: none !important;
	}
}

body[tab] {
	width: 100vw;
	height: 100vh;
	overflow: hidden;

	.satus-base {
		width: 100%;
		height: 100%;
	}
}
