/*--- SEARCH ---------------------------------------------------
# Buttons
--------------------------------------------------------------*/

/*--- BUTTONS ------------------------------------------------*/
.satus-text-field--search {
	position: absolute;
	z-index: 2;

	width: calc(320px - 71px);

	&:focus {
		box-shadow: 0 0 0 4px rgba(13, 110, 253, .25);
	}
	&>.satus-button {
		position: absolute;
		right: 0;
		z-index: 10;
	}
	&[results] {
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}
	&:not([results]) {
		filter: brightness(85%);
	}
}

.search-results {
	top: 56px;

	height: calc(100vh - 56px);

	.satus-popup__surface {
		position: absolute;
		top: -10px;
		left: 12px;

		width: calc(100% - 26px);
		min-width: unset;
		max-width: unset;
		max-height: calc(100vh - 56px);
		margin: 0;
		padding: 0;

		transform: none;
		transform-origin: top;
		animation: none;

		opacity: 1;
		border: 1px solid var(--satus-text-field-border);
		border-top: none;
		border-radius: 15px;
		border-top-left-radius: 0;	/* border-top-right-radius: 0; */
		background-color: var(--satus-text-field-background);
		box-shadow: none;
	}
	.satus-section>* {
		width: 100%;
		height: 40px;
		min-height: unset;
		padding: 0 16px;
	}
	.satus-section--label {
		display: block;

		p {
			display: contents;

			&:not(:last-child)::after {
				content: ' > ';
			}
		}
	}
}
