/*--- SETTINGS -------------------------------------------------
# Animations
# Email
--------------------------------------------------------------*/

/*--- ANIMATIONS ---------------------------------------------*/
.satus-base:not([it_layer_animation_scale]) .satus-layers__layer {
	animation-duration: 0s !important
}

/*--- EMAIL --------------------------------------------------*/
.satus-button--email {
	display: flex;
	height: auto;
	margin: auto;
	padding: 8px;
	cursor: pointer;
	text-align: center;
	letter-spacing: .125px;
	color: var(--satus-primary);
	justify-content: center
}
